body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  background: linear-gradient(135deg, #18083a, #18083a);
}

.player {
  width: 320px;
  padding: 20px;
  background: rgba(50, 41, 86, 0.735);
  border-radius: 15px;
  text-align: center;
  color: white;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(214, 211, 218, 0.5);
}

.controls button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  
}

#progress {
  width: 100%;
  margin: 10px 0;
}

#volume {
  width: 100%;
 
}

#playlist {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  max-height: 120px;
  overflow-y: auto;
 
}

#playlist li {
  padding: 8px;
  margin: 5px 0;
  background: rgba(159, 139, 209, 0.2);
  cursor: pointer;
  border-radius: 8px;
}

#playlist li:hover {
  background: rgba(26, 5, 62, 0.4);
}